/three_small_plots.pdf
/three_small_plots_subplot_2.pdf
/three_small_plots_subplot_1.pdf
/three_small_plots_subplot_3.pdf
/two_std_dev_plots_subplot_1.pdf
/two_std_dev_plots_subplot_2.pdf
/two_std_dev_plots.pdf
/three_small_plots.png
/three_small_plots_subplot_2.png
/three_small_plots_subplot_1.png
/three_small_plots_subplot_3.png
/two_std_dev_plots_subplot_1.png
/two_std_dev_plots_subplot_2.png
/two_std_dev_plots.png
/three_small_plots.jpg
/three_small_plots_subplot_2.jpg
/three_small_plots_subplot_1.jpg
/three_small_plots_subplot_3.jpg
/two_std_dev_plots_subplot_1.jpg
/two_std_dev_plots_subplot_2.jpg
/two_std_dev_plots.jpg
